@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .material-item {
        @apply w-[40px] h-[40px] flex justify-center items-center hover:bg-[#EEF3FE] mt-[10px] hover:text-[#2468f2] cursor-pointer
    }
}

body {
    height: 100vh;
}

#app {
    height: 100%
}
svg {
    vertical-align: initial;
}
:root {

}